{block content}
<style>
	.left {
		width: 250px;
		border: 1px dotted #DBDBDB;
		float: left;
		padding: 10px;
	}
</style>


<h1>GitHub news</h1>

<div class="left">
	<h2>juzna</h2>
	{control ghJuzna}
</div>


<div class="left">
	<h2>hosiplan</h2>
	{control ghHosiplan}
</div>


<div class="left">
	<h2>K</h2>
	{control ghKaja}
</div>


<div class="left">
	<h2>Davídek</h2>
	{control ghDg}
</div>


<div style="clear: both;"></div>
<a n:href="computeInModel">Compute in model</a>
